<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${product}" action="/product/update" method="post">
    <table>
        <tr>
            <td>ID    :<input th:field="*{id}" th:text="${product.id}"/></td>
        </tr>
        <tr>
            <td> Name  :<input th:field="*{name}" th:text="${product.name}"/></td>

        </tr>
        <tr>
            <td>Price :<input th:field="*{price}" th:text="${product.price}"/></td>

        </tr>
        <tr>
            <td>Describe :<input th:field="*{describe}" th:text="${product.describe}"/></td>
        </tr>
        <tr>
            <td> Producer :<input th:field="*{producer}" th:text="${product.producer}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Update"/></td>
        </tr>
    </table>
</form>
</body>
</html>