<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Back List</a>
<form th:object="${blog}" method="post" action="/blog/create">
    <div>
        <label>Title</label>
        <input type="text" th:field="*{title}" >
    </div>
    <div>
        <label>Author</label>
        <input type="text" th:field="*{author}">
    </div>
    <div>
        <lable>Date</lable>
        <input type="date"  th:field="*{date}">
    </div>
    <div>
        <label>Content</label>
        <input type="text" th:field="*{content}">
    </div>

    <div>
        <labe>Category</labe>
        <input type="text" th:field="*{category.nameCategory}">
    </div>
    <div>
        <button type="submit">create</button>
    </div>
</form>
</body>
</html>